body {
    padding: 50px;
    background-color: #272822;
    color: #f8f8f2;
}

section {
    margin-bottom: 30px;
}

a {
    color: inherit;
}

a:hover {
    color: #ED1556;
    text-decoration: none;
}

::selection{
    background: #ED1556;
    color: #fff;
    text-shadow: none;
}

.footnote {
    vertical-align: super;
    font-size: 8px;
}

#profile-picture {
    display: inline-block;
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: url(../img/gravatar.jpg);
    background-size: cover;
}

#summary{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
#summary p {
    font-style: italic;
    line-height: 18px;
}
.contact-item {
    margin-right: 4px;
}

.contact-img {
    width: 24px;
    vertical-align: -1px;
}

.skills {
    margin-left: 0;
    list-style: none;
}

.skill {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 2px 9px;
    border-radius: 12px;
    margin-top: 8px;
}

.skill img {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    vertical-align: text-bottom;
}

.cv-list {
    list-style: none;
}

.cv-item {
    margin-bottom: 25px;
}

.cv-item-title {
    font-weight: bold;
    font-size: 14px;
}

.cv-item-when {
    color: #cccccc;
    font-size: 12px;
    white-space: nowrap;
}

.cv-item-content {

}

#footer a {
    margin: 0 4px;
}

.print {
    display: none;
}

@media print {
    /* arrrg bootstarp ! */
    a[href]::after {
        content: none;
    }
    .print {
        display: block;
    }
    .hide-print {
        display: none;
    }
    i.footnote,
    .contact-item,
    #gravatar-container,
    #skills,
    #important,
    #footer-sep,
    #footer {
        display: none;
    }

    h1 {
        font-size: 20px;
        line-height: 1;
    }
    h2, h3 {
        font-size: 16px;
        line-height: 1;
    }
    h4 {
        font-size: 14px;
        line-height: 1;
    }
    #summary {
        font-size: 14px;
    }
    #summary p {
        margin-bottom: 0;
        line-height: 18px;
    }
    .cv-item-title {
        font-size: 12px;
    }
    p {
        font-size: 11px;
    }


    section {
        margin-bottom: 20px;
    }
    .cv-item {
        margin-bottom: 15px;
    }

}
